asgiref==3.4.1
autopep8
django-environ==0.8.1 
certifi
chardet
django-environ
gunicorn
defusedxml
Django==2.2.14
django-admin-charts
django-admin-interface
django-allauth==0.39.1 --only-binary :all:
django-bower
django-colorfield
django-countries
django-crispy-forms
django-debug-toolbar
django-filter
django-flat-responsive
django-flat-theme
django-multiselectfield
django-nvd3
djangorestframework
djcacheutils
idna
importlib-metadata==4.10.0
python-dotenv
Jinja2==3.0.3
Markdown==3.3.6
MarkupSafe==2.0.1
oauthlib==3.0.1
pep8==1.7.1
Pillow==9.0.0
pycodestyle==2.5.0
python-dateutil==2.8.2
python-decouple==3.1
python-memcached==1.59
python-nvd3==0.14.2
python-slugify==1.1.4
python3-openid==3.1.0
pytz==2018.5
requests==2.21.0
requests-oauthlib==1.2.0
six==1.16.0
sqlparse==0.2.4
stripe==2.27.0
Unidecode==1.3.2
urllib3==1.24.2
zipp==3.7.0
